Source: ftrace
Section: devel
Priority: extra
Maintainer: Hiroyuki Ikegami <ikegam@mixallow.net>
Build-Depends: cdbs, debhelper (>= 7), autotools-dev, libelfg0-dev, libdwarf-dev
Standards-Version: 3.8.0
Homepage: http://lab.klab.org/wiki/Software#ftrace

Package: ftrace
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
